header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
width: 500px;
display: flex;
justify-content: space-evenly;
}

h2{
    text-align: center;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: white;
    background-image: url("../images/fond.jpg");
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
}

main{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article{
    width: 300px;
    height: 200px; 
}

#article1 {
    color: #109dc2;
    background-color: #d1e9f2;
    border-radius: 10%;
}

#article2 {
    color: #109dc2;
    background-color: #d1e9f2;
    border-radius: 10%;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

aside {
    width: 300px;
    height: 90px;
    margin-top: 2%;
    box-shadow: inset 5px 0 5px -5px #42b9f5;
    font-style: italic;
    color: #03617D;
    background-color: #f6438b;
    border-radius: 10%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}